#root {
  
  margin: 0 auto ;
  padding: 5rem;
  text-align: center;
}


.header{
  font-family:  system-ui;
  font-weight: 400;
  font-style: normal;
}


.flex-container {
  display: flex;
  background-color:red;
  width:100vw;

  
  /* justify-content: space-between; */
}
.active-icon{
  border-color: blue;
}
.active{
  position:relative;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;

  font-size: 30px;
  text-align: center;
vertical-align: middle;
line-height: 100px;  
  color: darkblue;
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none;
}

.logo {
  
  height: 50px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.NavLink{
  position:relative;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  
  font-size: 30px;
  text-align: center;
vertical-align: middle;
line-height: 100px;  
  color: white;
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none;

}
.NavLink:hover {

 text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.article{
  border: 1px solid black; 

}
/* .article-container{

  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  

} */

.author{
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
.article-image-container{
  position: relative;
  padding: 10px
}
.article-image{
  width:600px;
  height:500px;
}
.title{
  position: relative;
  font-weight: bold;
  font-size:30px;
}
.topic{
  position: relative;
  font-weight: bold;
  font-size:25px;
  color: red;
}
.comment{
  border-style: solid;
  border-color:black;
  border-radius: 30px;
  margin-bottom: 10px;
}
.topic-small{
  float:inline-start;
}
.topic-small h1{
  
  font-size: 20px;

}
.select-box{
  
  left: 20px;
}

.left-sidebar{
  border: 1px solid black;
}

.right-sidebar{
  grid-area: right-sidebar;
}
.main{
  grid-area: main;
}