#root {
  color: white;
  background-color: black;
  margin: 0 auto ;
  padding: 5rem;
  text-align: center;
}


.header{
  font-family:  system-ui;
  font-weight: 400;
  font-style: normal;
}
.article-card-image{
  width:100%;
}

.flex-container {
  display: flex;
  background-color:rgb(0, 0, 0);
  width:100%;

  
  /* justify-content: space-between; */
}

.active-icon{
  border-color: rgb(255, 0, 0);
}
.active{
  position:relative;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;

  font-size: 30px;
  text-align: center;
vertical-align: middle;
line-height: 100px;  
  color: lightgreen;
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none;
}

.logo {
  
  height: 50px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.NavLink{
  position:relative;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  
  font-size: 30px;
  text-align: center;
vertical-align: middle;
line-height: 100px;  
  color: white;
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none;

}
.NavLink:hover {

 text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.article{
 


}
/* .article-container{

  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  

} */
.individual-article{
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  border-style: solid;
  border-color:white;
}
.individual-article-latest{

  background-color:  rgba(0, 0, 0, 0.925);
  color: yellow;
  border-style: solid;
  border-color:yellow;
}

.author{
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
.article-image-container{
  position: relative;
  padding: 10px
}
.article-image{
  max-width: 100%;
  height:50%;
}
.article-image-first{
  width:100%;
  height: 50%;
}
.title{
  position: relative;
  font-weight: bold;
  font-size:30px;
}
.topic{
  position: relative;
  font-weight: bold;
  font-size:25px;
  color: red;
}
.comment{
  border-style: solid;
  border-color:white;
  border-radius: 30px;
  margin-bottom: 10px;
}
.topic-grid-container{
  color: white;
  background-color: black;
  border:solid white 00.01px;
}
.topic-small .disappear{
  color: white;
  text-align: center;
  margin: 1em;
  float:left;
  transform: translatey(9px);
}
.topic-small .topic-header{
  float: left;
  margin: 1em;
  color: white;
  text-align: center;
}
.topic-small h1{
  color: white;
  font-size: 20px;
  float:left;
  text-align: center;
}
.select-box{
  
  left: 20px;
}



.right-sidebar{
  grid-area: right-sidebar;
}
.main{
  grid-area: main;
}
.custom-select {
  color: black;
}


@media only screen and (max-width: 600px) {
  #root {
  
    margin: 0 auto ;
  
    text-align: center;
  }
  .flex-container {
    display: flex;
    background-color:rgb(0, 0, 0);
    /* justify-content: space-between; */
  }
  #root {
  
    margin: 0 auto ;
    padding: 0;
    text-align: center;
  }
  .active{
    position:relative;
    padding: 0;
  
  
    font-size: 1em;
    text-align: center;
  vertical-align: middle;
  line-height: 1em;  
    color: lightgreen;
    will-change: filter;
    transition: filter 300ms;
    text-decoration: none;
  }
  .NavLink{
    position:relative;
    padding: 0 ;
 
    
    font-size: 1em;
    text-align: center;
  vertical-align: middle;
  line-height: 1em;  
    color: white;
    will-change: filter;
    transition: filter 300ms;
    text-decoration: none;
  
  }
  .topic-small{
   
    float: none;
   
    margin:auto;
    text-align: center;
    
    
    
  
  }
 
  .topic-small h1{
    
    font-size: 1em;
    display: inline-block;
    padding: 0.1em;
  }
  .topic-small .disappear
  { display: none;
  }
  
 .topic-small .topic-header{

  width: auto;
  border-radius: 20px;
  border-right: solid;
  border-color: whitesmoke;
    background-color: rgb(14, 2, 2);
    display: inline-block;
  }
  
  .active-topic{
    
    color: rgb(0, 247, 0);
    will-change: filter;
    transition: filter 300ms;
    text-decoration: none;
  }
  .NavLink-topic{
    color: white;
  }
  .NavLink-topic:hover {

    text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
   }
}